#root {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid white;
}

fieldset {
    display: flex;
    flex-flow: column;
    border: none;
}