body {
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}