* {
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}

body {
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.left {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 20px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main .right > div {
  display: flex;
  flex-flow: column;
  gap: 30px;
}