.persistentForm {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
    gap: 20px;
}

.persistentForm button {
    align-self: center;
}

fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    gap: 5px;
}