.persistentForm {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    gap: 20px;
}

fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    gap: 5px;
}