* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(lightgreen, lightblue, blue);
    min-height: 100vh;
    height: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}