.persistentForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

fieldset {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.persistentForm h1 {
    position: relative;
    top: 10px;
}
