* {
  border: solid 1px white;
}

body {
  background-image: linear-gradient(#d827ac, rgb(94, 94, 94), #27d853);
  color: white;
}

#root {
  display: grid;
  grid-template: 1fr / 3fr 7fr;
  min-height: 100vh;
  height: auto;
}

.left {
  padding-bottom: 20px;
  border: 1.5px solid white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
